@import "tailwindcss";

@theme {
  --color-primary: #051024;
  --color-accent: #B0914D;
  --color-gold: #B0914D;
  --color-surface: #fbf9f2;
  --color-surface-dim: #f5f4ed;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

:root {
  --background: #ffffff;
  --foreground: #001F5B;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }
  .paused {
    animation-play-state: paused;
  }
}

